<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.match.org.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.match.org.model.Department">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="dename" jdbcType="VARCHAR" property="dename" />
    <result column="collegeid" jdbcType="BIGINT" property="collegeid" />
    <result column="indx" jdbcType="INTEGER" property="indx" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creator, modifier, ctime, mtime, dename, collegeid, indx, province
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from department
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.match.org.model.Department">
    insert into department (id, creator, modifier, 
      ctime, mtime, dename, 
      collegeid, indx, province
      )
    values (#{id,jdbcType=BIGINT}, #{creator,jdbcType=BIGINT}, #{modifier,jdbcType=BIGINT}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{dename,jdbcType=VARCHAR}, 
      #{collegeid,jdbcType=BIGINT}, #{indx,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.match.org.model.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="dename != null">
        dename,
      </if>
      <if test="collegeid != null">
        collegeid,
      </if>
      <if test="indx != null">
        indx,
      </if>
      <if test="province != null">
        province,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dename != null">
        #{dename,jdbcType=VARCHAR},
      </if>
      <if test="collegeid != null">
        #{collegeid,jdbcType=BIGINT},
      </if>
      <if test="indx != null">
        #{indx,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.match.org.model.Department">
    update department
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="dename != null">
        dename = #{dename,jdbcType=VARCHAR},
      </if>
      <if test="collegeid != null">
        collegeid = #{collegeid,jdbcType=BIGINT},
      </if>
      <if test="indx != null">
        indx = #{indx,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.match.org.model.Department">
    update department
    set creator = #{creator,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=BIGINT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      dename = #{dename,jdbcType=VARCHAR},
      collegeid = #{collegeid,jdbcType=BIGINT},
      indx = #{indx,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findDepartmentList" parameterType="com.match.org.model.Department" resultType="Map">
     select id,dename,indx from department where collegeid=#{collegeid}
     <if test="dename!='' and dename !=null">
       and dename like '%${dename}%'
     </if>
     order by indx
  </select>
</mapper>