<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.match.baciss.mapper.JudgeDivisionMapper">
  <resultMap id="BaseResultMap" type="com.match.baciss.model.JudgeDivision">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="judgeid" jdbcType="BIGINT" property="judgeid" />
    <result column="divisionid" jdbcType="BIGINT" property="divisionid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creator, modifier, ctime, mtime, judgeid, divisionid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from judgedivision
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from judgedivision
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.match.baciss.model.JudgeDivision">
    insert into judgedivision (id, creator, modifier, 
      ctime, mtime, judgeid, 
      divisionid)
    values (#{id,jdbcType=BIGINT}, #{creator,jdbcType=BIGINT}, #{modifier,jdbcType=BIGINT}, 
      #{ctime,jdbcType=TIMESTAMP}, #{mtime,jdbcType=TIMESTAMP}, #{judgeid,jdbcType=BIGINT}, 
      #{divisionid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.match.baciss.model.JudgeDivision">
    insert into judgedivision
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="judgeid != null">
        judgeid,
      </if>
      <if test="divisionid != null">
        divisionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="judgeid != null">
        #{judgeid,jdbcType=BIGINT},
      </if>
      <if test="divisionid != null">
        #{divisionid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.match.baciss.model.JudgeDivision">
    update judgedivision
    <set>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="mtime != null">
        mtime = #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="judgeid != null">
        judgeid = #{judgeid,jdbcType=BIGINT},
      </if>
      <if test="divisionid != null">
        divisionid = #{divisionid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.match.baciss.model.JudgeDivision">
    update judgedivision
    set creator = #{creator,jdbcType=BIGINT},
      modifier = #{modifier,jdbcType=BIGINT},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      mtime = #{mtime,jdbcType=TIMESTAMP},
      judgeid = #{judgeid,jdbcType=BIGINT},
      divisionid = #{divisionid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
   <delete id="deleteJudgeDivisionByJudgeid" parameterType="java.lang.Long">
    delete from judgedivision
    where judgeid = #{judgeid,jdbcType=BIGINT}
  </delete>
</mapper>